<div class="container">
    <!--<div class="container body-content">-->
        <!--<div class="row">
            <div class="col-md-12">-->
                <picture><!--class="body-main main-picture"-->
                    <h2 class="mainColor " style="margin-bottom: 0">{{ picture.title }}</h2>
                    <p class="lead" style="margin-bottom: 8px">
                        by <a href="#" class="mainColor authorArt" >{{picture.author.fullName}}</a>
                    </p>
                    <p><span class=""></span>{{picture.created}}</p>
                    <hr class="hr"/>
                    <div class="col-md-9">
                        <h2>
                            <a href="/picture/details/{{this.id}}" class="mainColor">{{ this.title }}</a>
                        </h2>
                        <div class="col-md-4">
                            <div>
                                <img class="single-img" src="/uploads/{{picture.img.name}}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        {{#if isUserAuthorized}}
                            <a class="btn btn-default" style="padding: 10px" href="/picture/edit/{{picture.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                            <a class="btn btn-default" style="padding: 10px" href="/picture/delete/{{picture.id}}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                        {{/if}}
                        <a class="btn btn-default" style="padding: 10px" href="/"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                    </div>
                </picture>
    {{#if user}}
        <div class="col-md-12">
            <picture class="comment">
                <form class="form-horizontal" method="POST" action="/picture/details/{{picture.id}}">
                    <fieldset>
                        <textarea class="form-control" id="comments" rows="2" name="comment" required></textarea>
                        <button type="submit" class="btn btn-default pull-right"><i class="fa fa-comments-o" aria-hidden="true"></i> Add Comment</button>
                    </fieldset>
                </form>
            </picture>
        </div>
    {{/if}}
    {{#each comments }}
        <div class="col-md-12">
            <picture class="comment">
                <p>{{ this.content }}</p>

                <p class=" pull-right">by {{author.fullName}}</p>
                <!--<div class="pull-right">
                    {{#if isUserAuthorized}}
                        <a class="btn btn-default" style="padding: 10px" href="/article/edit/{{article.id}}">Edit &raquo;</a>
                        <a class="btn btn-default" style="padding: 10px" href="/article/delete/{{article.id}}">Delete &raquo;</a>
                    {{/if}}
                    <a class="btn btn-default" style="padding: 10px" href="/">Back &raquo;</a>
                </div>-->
            </picture>
        </div>
    {{/each}}
           <!-- </div>
        </div>
    <!--</div>-->

    <!--<div class="col-md-offset-3">
                <div class="body-main main-article">
                    <h2>
                        <a href="/article/details/{{this.id}}" class="mainColor">{{ this.title }}</a>
                    </h2>
                    <p class="lead">
                        by <a href="#" class="mainColor authorArt">{{ this.author.fullName }}</a>
                    </p>
                    <p><span class=""></span>{{this.created}}</p>
                    <p class="text clearfix">
                        {{#if this.img.name}}
                            <img class="img-responsive thumbnail" src="/uploads/{{this.img.name}}" alt="">
                        {{/if}}
        {{ this.content }}
                    </p>
                    &lt;!&ndash;<img src="/uploads/{{user.img.name}}" class="img-responsive" height="50" width="50"/>&ndash;&gt;
                    <hr class="hr"/>
                    <div class="pull-left" style="margin-bottom: 10px">
                        {{# each this.tags}}
                            <a class="btn btn-default btn-xs" style="padding:5px 7px;" href="/tag/{{this.name}}">{{ this.name }}</a>
                        {{/each}}
                    </div>
                    <a class="btn btn-default pull-right" href="/article/details/{{this.id}}">Read More <span class=""></span></a>
                </div>
            </div>-->
</div>

