<div class="container body-content span=8 offset=2 body-main">
    <div class="well">
        <form class="form-horizontal" method="post" action="/user/details" enctype="multipart/form-data">
            <fieldset>
                <legend>User Information</legend>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputEmail">Email</label>
                    <div class="col-sm-4 ">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" required value={{user.email}} >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputFullName">Full Name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputFullName" placeholder="Full Name" required name="fullName" value={{user.fullName}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputPassword">Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" required name="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Confirm Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password" required name="repeatedPassword">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="img">Avatar</label>
                    <div class="col-sm-4 fileUpload btn btn-default">
                        <span>Upload</span>
                        <input type="file" class="form-control upload"  id="img" placeholder="img" name="avatar">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="dropdownMenu2">My articles</label>
                    <div class="dropdown col-sm-4">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Articles
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        {{#each articles}}
                        <li><a class="btn btn-default btn-xs" style="padding: 5px" href="/article/details/{{this.id}}">{{this.title}}</a></li>
                        {{/each}}
                    </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="dropdownMenu2">My pictures</label>
                    <div class="dropdown col-sm-4">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pictures
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            {{#each pictures}}
                                <li><a class="btn btn-default btn-xs" style="padding: 5px" href="/picture/details/{{this.id}}">{{this.title}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="dropdownMenu2">My videos</label>
                    <div class="dropdown col-sm-4">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Videos
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            {{#each videos}}
                                <li><a class="btn btn-default btn-xs" style="padding: 5px" href="/video/details/{{this.id}}">{{this.title}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-default">Submit</button>
                        <button type="reset" class="btn btn-default"><a href="/">Back</a></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>