<div class="container body-content">
    <div class="row">
        {{#each articles}}
            <div class="col-md-6">
                <article class="body-main main-article">
                    <h2 class="mainColor " style="margin-bottom: 0">{{ this.title }}</h2>
                    <p class="lead" style="margin-bottom: 8px">
                        by <a href="#" class="mainColor authorArt" >{{ this.author.fullName }}</a>
                    </p>
                    <p class="text clearfix">
                        {{#if this.img.name}}
                            <img class="img-responsive thumbnail" src="/uploads/{{this.img.name}}" alt="">
                        {{/if}}
                        {{ this.content }}
                    </p>
                    <hr class="hr"/>
                    <div class="pull-left" style="margin-bottom: 10px">
                        {{#each this.tags }}
                            <a class="btn btn-default btn-xs" style="padding:5px 7px;"
                               href="/tag/{{this.name}}">{{ this.name }}</a>
                        {{/each}}
                    </div>
                    <a class="btn btn-default pull-right" href="/article/details/{{this.id}}">Read More &nbsp;&nbsp;<i class="fa fa-forward" aria-hidden="true"></i><span class=""></span></a>
                </article>
            </div>
        {{/ each}}
    </div>
</div>